*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.orders{
	position: relative;
	top: 100px;
	margin-bottom: 150px !important;
	flex-direction: column !important;
	align-items: center;
}

.orders .table{
	font-size: 1.5rem;
}

.orders h1{
	font-weight: bold;
	font-size: 3rem;
}